@charset "UTF-8";
#wrapper{
    width: 100%;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    height: 100vh;
}
#mobile{
position: absolute;
    left: 308px;
    top: 169px;
    /* top: 13%;
    left: 20%; */
    width: 360px;
    height: 730px;
    overflow: scroll;
    background: #fff;
    z-index: 10;
}

#mobile::-webkit-scrollbar { 
    display: none; 
}
#main-container{
    width: 100%;
    height: 100vh;
    /* margin-top: -64px; */
    padding-bottom: -64px;
    background: url('../img/playerBg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 11px 30px;
}
#main-container .cover{
    margin: 5% auto;
    width: 100%;
}
#main-container .cover img{
    width: 100%;
}
#main-container .title-box{
    width: 100%;
}
#main-container .title-box #titlezzz{
    float: left;
}
#main-container .title-box #titlezzz p:first-child{
    font-size: 24px;
    color: #fdf6d1;
    font-weight: bold;
    padding-bottom: 12px;
}
#main-container .title-box #titlezzz p:nth-of-type(2){
    font-size: 24px;
    color: #fdf6d1;
    font-weight: 300;
}
#main-container .title-box img{
    width: 30px;
   float: right;
   cursor: pointer;
}

#main-container .title-box::after{
    content: '';
    display: block;
    clear: both;
}
.control{
    width: 100%;
    margin-top: 80px;
    float: left;
}
.control img{
    vertical-align: middle;
    cursor: pointer;
}
.control img:first-child{
    width: 24px;
    margin-right: 40px;
}
.control img:nth-child(2){
    width: 34px;
    margin-right: 40px;
}
.control img:nth-child(3){
    width: 27px;
}
.control::after{
    content: '';
    display: block;
    clear: both;
}
.sideBtn{
    position: absolute;
    right: 30px;
    margin-top: 30px;
    cursor: pointer;
    transition: all 1s cubic-bezier(.01,.97,0,.99);
    z-index: 20;
}

.sideBtn .circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    margin-right: 8px;
    float: left;
}

.sideBtn .circle:last-child{
    margin-right: 0;
}

.sideMenu{
    position: absolute;
    width: 75px;
    height: 108px;
    background: #757574;
    text-align: center;
    right: 50px;
    display: none;
}

.sideMenu ul{
    width: 100%;
    height: 100%;
}
.sideMenu ul li{
   width: 100%;
   height: 50%;
   padding-top: 18px;
   border-bottom: 1px solid #4e4e4e;
   
}
.sideMenu ul li:nth-child(2){
    border-top: 1px solid #ababaa;

}
.sideMenu ul li a{
    width: 100%;
    height: 100%;
    display: block;
    color: #fff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;

}

#desktop{
    display: block;
}

#mockup{
    position: absolute;
    left: 300px;
    top: 140px;
    /* left: 19.5%;
    top:10%; */
    width: 378px;
    display: block;
}
#mockup img{
    width: 100%;
    height: 787px;
}

#desc{
    position: absolute;
    right: 16%;
    top: 25%;
    font-size: 60px;
    font-family: 'Noto Sans', sans-serif;
    color: #fff;
    display: block;
}

#qr{
    display: block;
    position: absolute;
    right: 16%;
    top: 40%;
    width: 300px;
}
/* @media screen and (min-width: 600px) {
    #main-container .cover{
        width: 60%;
    }
 }
@media screen and (min-width: 900px) {
    #main-container .cover{
        width: 40%;
    }
 } */
